<div class="container">
  <div class="row">
    <div class="col-md-12 heading">
      <div class="title">LOKESH SARDANA</div>
      <div class="subtitle">Front-End Web Developer</div>
    </div>
  </div>
  <div class="row content">
    <div class="col-md-6">
      <div class="text-content">
        <p>I am a front end developer, aspiring to be a full stack developer, based out in Noida, India.</p>
        <p>I am an alumnus of <a href="https://www.iitr.ac.in/">Indian Institute of Technology Roorkee</a> and I have a total experience of {{experience}} in software development.</p>
        <p>I want to be involved in projects that I can be proud of, join an amazing team and advance my development career. Take some time to look at my work and if you're interested in helping me make this happen, let's <a routerLink="/contact">get in touch</a>.</p>
      </div>
    </div>
    <div class="col-md-6">
      <figure>
        <img src="../../assets/images/lokesh.png" alt="That's me"/>
      </figure>
    </div>
  </div>
</div>
