.title {
  font-size: 1.5rem;
  margin-bottom: 0;
  text-align: center;
  display: block;
  font-weight: 300;
}

.experiments {
  margin-top: 25px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}
