<div class="container menu-container">
  <ul class="menu">
    <li class="menu-item" routerLink="/about" routerLinkActive="active">
      <div class="menu-title">About</div>
      <div class="menu-icon">
        <div class="line left"></div>
        <div class="icon">
          <i class="fa fa-address-card"></i>
        </div>
        <div class="line right"></div>
      </div>
    </li>
    <li class="menu-item" routerLink="/work" routerLinkActive="active">
      <div class="menu-title">Work Exp.</div>
      <div class="menu-icon">
        <div class="line left"></div>
        <div class="icon">
          <i class="fa fa-briefcase"></i>
        </div>
        <div class="line right"></div>
      </div>
    </li>
    <li class="menu-item" routerLink="/experiments" routerLinkActive="active">
      <div class="menu-title">Experiments</div>
      <div class="menu-icon">
        <div class="line left"></div>
        <div class="icon">
          <i class="fa fa-flask"></i>
        </div>
        <div class="line right"></div>
      </div>
    </li>
    <li class="menu-item" routerLink="contact" routerLinkActive="active">
      <div class="menu-title">Contact</div>
      <div class="menu-icon">
        <div class="line left"></div>
        <div class="icon">
          <i class="fa fa-envelope"></i>
        </div>
        <div class="line right"></div>
      </div>
    </li>
  </ul>
</div>
<div class="footer">
  <div>
    <span>Powered by </span>
    <a href="http://angular.io" target="_blank"><i class="devicon-angularjs-plain colored"></i></a>
    <a href="http://nodejs.org" target="_blank"><i class="devicon-nodejs-plain colored"></i></a>
    <a href="http://heroku.com" target="_blank"><i class="devicon-heroku-plain colored"></i></a>
  </div>
  <div>© 2018 Lokesh Sardana</div>
</div>
